<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Factura_id</th>
      <th scope="col">Producto_id</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Creado_por</th>
      <th scope="col">Subtotal</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prf of productosFacturas">
      <th scope="row"><a [routerLink]="['/productos-facturas', prf.id]">{{prf.id}}</a></th>
      <td>{{prf.factura_id}}</td>
      <td>{{prf.producto_id}}</td>
      <td>{{prf.cantidad}}</td>
      <td>{{prf.creado_por}}</td>
      <td>{{prf.subtotal}}</td>
    </tr>
  </tbody>
</table>
